<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Exclusão</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'projetoapp/css/projetoapp.css' %}">
</head>
<body>
    <div class="container">
        <h1>Confirmar Exclusão</h1>

        <p>
            Tem certeza de que deseja excluir o item? Esta ação não pode ser desfeita.
        </p>

        <form action="{% url 'excluir_item' item.id %}" method="post">
         
            {% csrf_token %}

            <button class="button" type="submit">Confirmar</button>

            <a class="button" href="{% url 'lista_estoque' %}">Cancelar</a>
        </form>
    </div>
</body>
</html>